body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #wb_home, #wb_next-website
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #wb_home, #wb_next-website
   {
      background-attachment: scroll !important;
   }
}
#wb_home
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url('../images/yellow-pencils.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#home
{
   box-sizing: border-box;
   height: 100vh;
   padding: 100px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
}
#home > .row
{
   margin-right: 0;
   margin-left: 0;
}
#home > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#home > .row > .col-1
{
   float: left;
}
#home > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#home:before,
#home:after,
#home .row:before,
#home .row:after
{
   display: table;
   content: " ";
}
#home:after,
#home .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#home > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_about
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#about
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#about > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#about > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#about > .row > .col-1
{
   float: left;
}
#about > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#about:before,
#about:after,
#about .row:before,
#about .row:after
{
   display: table;
   content: " ";
}
#about:after,
#about .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#about > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_services
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #007BFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#services
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#services > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services > .row > .col-1
{
   float: left;
}
#services > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#services:before,
#services:after,
#services .row:before,
#services .row:after
{
   display: table;
   content: " ";
}
#services:after,
#services .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_features
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #007BFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#features
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#features > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3, #features > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3, #features > .row > .col-4
{
   float: left;
}
#features > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#features > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#features > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#features > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#features:before,
#features:after,
#features .row:before,
#features .row:after
{
   display: table;
   content: " ";
}
#features:after,
#features .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3, #features > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_next-website
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 75vh;
   background-color: transparent;
   background-image: url('../images/supplies2.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#next-website
{
   box-sizing: border-box;
   height: 75vh;
   padding: 50px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
}
#next-website > .row
{
   margin-right: 0;
   margin-left: 0;
}
#next-website > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#next-website > .row > .col-1
{
   float: left;
}
#next-website > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#next-website:before,
#next-website:after,
#next-website .row:before,
#next-website .row:after
{
   display: table;
   content: " ";
}
#next-website:after,
#next-website .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#next-website > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#next-website-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #FFFFFF;
   opacity: 0.55;
}
#wb_projects
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#projects
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#projects > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#projects > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#projects > .row > .col-1
{
   float: left;
}
#projects > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#projects:before,
#projects:after,
#projects .row:before,
#projects .row:after
{
   display: table;
   content: " ";
}
#projects:after,
#projects .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#projects > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_project-one
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#project-one
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#project-one > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#project-one > .row > .col-1, #project-one > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#project-one > .row > .col-1, #project-one > .row > .col-2
{
   float: left;
}
#project-one > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#project-one > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#project-one:before,
#project-one:after,
#project-one .row:before,
#project-one .row:after
{
   display: table;
   content: " ";
}
#project-one:after,
#project-one .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#project-one > .row > .col-1, #project-one > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#Card1-card-item0 h2
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
}
#Card1-card-item2
{
   display: inline-block;
   height: 33px;
   box-sizing: border-box;
   margin: 5px 0 0 0 ;
   padding: 10px 16px 10px 16px;
   border: 0px solid #007BFF;
   border-radius: 2px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_about-text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 20px 0 ;
   text-align: center;
}
#wb_about-text1 div
{
   text-align: center;
}
#wb_about-text1
{
   display: block;
   margin: 0 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_project-line1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#project-line1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#project-line1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#project-line1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#project-line1 > .row > .col-1
{
   float: left;
}
#project-line1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#project-line1:before,
#project-line1:after,
#project-line1 .row:before,
#project-line1 .row:after
{
   display: table;
   content: " ";
}
#project-line1:after,
#project-line1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#project-line1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_project-two
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#project-two
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#project-two > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#project-two > .row > .col-1, #project-two > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#project-two > .row > .col-1, #project-two > .row > .col-2
{
   float: left;
}
#project-two > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#project-two > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#project-two:before,
#project-two:after,
#project-two .row:before,
#project-two .row:after
{
   display: table;
   content: " ";
}
#project-two:after,
#project-two .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#project-two > .row > .col-1, #project-two > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_project-line2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#project-line2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#project-line2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#project-line2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#project-line2 > .row > .col-1
{
   float: left;
}
#project-line2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#project-line2:before,
#project-line2:after,
#project-line2 .row:before,
#project-line2 .row:after
{
   display: table;
   content: " ";
}
#project-line2:after,
#project-line2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#project-line2 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_project-three
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#project-three
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#project-three > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#project-three > .row > .col-1, #project-three > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#project-three > .row > .col-1, #project-three > .row > .col-2
{
   float: left;
}
#project-three > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#project-three > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#project-three:before,
#project-three:after,
#project-three .row:before,
#project-three .row:after
{
   display: table;
   content: " ";
}
#project-three:after,
#project-three .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#project-three > .row > .col-1, #project-three > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_project-line3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#project-line3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#project-line3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#project-line3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#project-line3 > .row > .col-1
{
   float: left;
}
#project-line3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#project-line3:before,
#project-line3:after,
#project-line3 .row:before,
#project-line3 .row:after
{
   display: table;
   content: " ";
}
#project-line3:after,
#project-line3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#project-line3 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#home-button
{
   border: 1px solid #007BFF;
   border-radius: 4px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
}
#home-button:focus
{
   outline: 0;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 75px 0 0 0;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#PanelMenu1_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#PanelMenu1_panel
{
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#PanelMenu1_markup li a
{
   color: #F7F7F7;
   border: 0px solid #2E2E2E;
   background-color: #3E3E3E;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
}
#wb_PanelMenu1 a
{
   color: #F7F7F7;
   border: 0px solid #2E2E2E;
   border-radius: 0px;
   background-color: #3E3E3E;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
   text-transform: none;
}
#PanelMenu1_markup li a:hover
{
   color: #F7F7F7;
   background-color: #484848;
   border: 0px solid #2E2E2E;
}
#PanelMenu1_markup li a .icon
{
   fill: currentColor;
   width: 16px;
   height: 16px;
   vertical-align: middle;
}
#PanelMenu1_markup li a:hover .icon
{
   fill: currentColor;
}
#wb_PanelMenu1 a:hover
{
   color: #F7F7F7;
   background-color: #484848;
   border: 0px solid #2E2E2E;
}
#PanelMenu1_panel
{
   background-color: #3E3E3E;
   overflow-y: auto;
}
#PanelMenu1 .line
{
   width: 16px;
   height: 3px;
   background: #F7F7F7;
   display: block;
   margin: 3px auto;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1 .line:first-child
{
   margin-top: 17px;
}
#PanelMenu1.open .line:nth-child(1)
{
   transform: translateY(6px) rotate(45deg);
}
#PanelMenu1.open .line:nth-child(2)
{
   opacity: 0;
}
#PanelMenu1.open .line:nth-child(3)
{
   transform: translateY(-6px) rotate(-45deg);
}
#PanelMenu1
{
   line-height: 50px;
   width: 50px;
   height: 50px;
   position: absolute;
   z-index: 999;
}
#PanelMenu1-close
{
   display: none;
   text-align: right;
}
#PanelMenu1-close a
{
   color: #F7F7F7;
   display: inline-block;
   font-size: 32px;
   font-weight: bold;
   padding: 5px 10px 5px 10px;
   text-decoration: none;
}
#PanelMenu1-close a:hover
{
   color: #F7F7F7;
}
@media all and (max-width:320px) 
{
#PanelMenu1_panel
{
   width: 100%;
}
body
{
   margin-left: 0 !important;
}
#PanelMenu1-close
{
   display: block;
}
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   opacity: 0.77;
}
#about-button
{
   border: 1px solid #007BFF;
   border-radius: 4px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
}
#about-button:focus
{
   outline: 0;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 750px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#Card2-card-item0 h2
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
}
#Card2-card-item2
{
   display: inline-block;
   height: 33px;
   box-sizing: border-box;
   margin: 5px 0 0 0 ;
   padding: 10px 16px 10px 16px;
   border: 0px solid #007BFF;
   border-radius: 2px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 750px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#Card3-card-item0 h2
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
}
#Card3-card-item2
{
   display: inline-block;
   height: 33px;
   box-sizing: border-box;
   margin: 5px 0 0 0 ;
   padding: 10px 16px 10px 16px;
   border: 0px solid #007BFF;
   border-radius: 2px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 750px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Line1
{
   border-color: #CCCCCC;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 20px 0 20px 0 ;
   padding: 0;
}
#Line2
{
   border-color: #CCCCCC;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 20px 0 20px 0 ;
   padding: 0;
}
#Line3
{
   border-color: #CCCCCC;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 20px 0 20px 0 ;
   padding: 0;
}
#StickyLayer
{
   background-color: #3E3E3E;
   background-image: none;
   border-radius: 0px;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 15px;
}
#wb_up-arrow:hover #up-arrow i
{
   color: #FFFFFF;
}
#wb_features-icon1
{
   background-color: #007BFF;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 16px 16px 16px 16px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_features-icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_features-icon1:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #007BFF;
}
#features-icon1
{
   height: 44px;
   width: 44px;
}
.features-icon1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.features-icon1:before
{
   content: "\e8dc";
}
#features-icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
   width: 44px;
}
#wb_features-icon1:hover #features-icon1 i
{
   color: #007BFF;
}
#wb_features-icon1
{
   transition: all 500ms linear 0ms;
}
#wb_features-icon2
{
   background-color: #007BFF;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 16px 16px 16px 16px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_features-icon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_features-icon2:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #007BFF;
}
#features-icon2
{
   height: 44px;
   width: 44px;
}
.features-icon2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.features-icon2:before
{
   content: "\e6c4";
}
#features-icon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
   width: 44px;
}
#wb_features-icon2:hover #features-icon2 i
{
   color: #007BFF;
}
#wb_features-icon2
{
   transition: all 500ms linear 0ms;
}
#wb_features-text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 25px 0 25px 0;
   margin: 0;
   text-align: center;
}
#wb_features-text1 div
{
   text-align: center;
}
#wb_features-text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_features-text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 25px 0 25px 0;
   margin: 0;
   text-align: center;
}
#wb_features-text2 div
{
   text-align: center;
}
#wb_features-text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_features-text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 25px 0 50px 0;
   margin: 0;
   text-align: center;
}
#wb_features-text3 div
{
   text-align: center;
}
#wb_features-text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_features-icon3
{
   background-color: #007BFF;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 16px 16px 16px 16px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_features-icon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_features-icon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #007BFF;
}
#features-icon3
{
   height: 44px;
   width: 44px;
}
.features-icon3
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.features-icon3:before
{
   content: "\e254";
}
#features-icon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
   width: 44px;
}
#wb_features-icon3:hover #features-icon3 i
{
   color: #007BFF;
}
#wb_features-icon3
{
   transition: all 500ms linear 0ms;
}
#wb_services-heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#services-heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_features-icon4
{
   background-color: #007BFF;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 16px 16px 16px 16px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_features-icon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_features-icon4:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #007BFF;
}
#features-icon4
{
   height: 44px;
   width: 44px;
}
.features-icon4
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.features-icon4:before
{
   content: "\e325";
}
#features-icon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
   width: 44px;
}
#wb_features-icon4:hover #features-icon4 i
{
   color: #007BFF;
}
#wb_features-icon4
{
   transition: all 500ms linear 0ms;
}
#wb_features-text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 25px 0 50px 0;
   margin: 0;
   text-align: center;
}
#wb_features-text4 div
{
   text-align: center;
}
#wb_features-text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_projects-text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_projects-text1 div
{
   text-align: center;
}
#wb_projects-text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_projects-text2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#projects-text2
{
   color: #3E3E3E;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading5
{
   color: #007BFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_services-heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#services-heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Button3
{
   border: 1px solid #007BFF;
   border-radius: 4px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
}
#Button3:focus
{
   outline: 0;
}
#wb_galleryGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#galleryGrid
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#galleryGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#galleryGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#galleryGrid > .row > .col-1
{
   float: left;
}
#galleryGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#galleryGrid:before,
#galleryGrid:after,
#galleryGrid .row:before,
#galleryGrid .row:after
{
   display: table;
   content: " ";
}
#galleryGrid:after,
#galleryGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#galleryGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #007BFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#footer > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#footer > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#footer > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   float: none;
   width: 100%;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 8px 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_CssMenu2
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 0 40px 0 ;
   text-align: left;
   z-index: 1111 !important;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu2 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
   vertical-align: middle;
}
#wb_CssMenu2 > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   line-height: 25px;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 8px 0;
   margin: 0;
   text-align: left;
}
#wb_Text5
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_CssMenu5
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_CssMenu5 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu5 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu5 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
   vertical-align: middle;
}
#wb_CssMenu5 > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   line-height: 25px;
}
#wb_CssMenu5 li:hover a, #wb_CssMenu5 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu5 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu5 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu5 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 8px 0;
   margin: 0;
   text-align: left;
}
#wb_Text9
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text9
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 4px 0 0 0;
   margin: 0 0 40px 0 ;
   text-align: left;
}
#wb_Text10
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 17px;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text10
{
   display: block;
   margin: 0 0 40px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 8px 0;
   margin: 0;
   text-align: left;
}
#wb_Text11
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text11
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Card5
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 25px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card5-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 50%;
   max-width: 80px;
   width: 100%;
   height: 80px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: -80px 20px 0 92px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 10px 92px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
}
#Card5-card-item3
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0 10px 0 92px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card5-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#Card5-card-item4
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0 10px 0 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card5-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#Card5-card-item5
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0 10px 0 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card5-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#Card5-card-item6
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card5-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 40px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 50%;
   max-width: 80px;
   width: 100%;
   height: 80px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: -80px 20px 0 92px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 10px 92px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
}
#Card4-card-item3
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0 10px 0 92px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#Card4-card-item4
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0 10px 0 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#Card4-card-item5
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0 10px 0 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#Card4-card-item6
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#gallery
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#gallery .thumbnails
{
   margin: 0;
}
#gallery .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   margin: 0;
   padding: 3px 3px 3px 3px;
   width: 25%;
   text-align: center;
   vertical-align: top;
}
#gallery .frame
{
   padding: 4px;
   background-color: #fff;
   border: 1px #DDDDDD solid;
   border-radius: 5px;
}
#gallery .thumbnail img
{
   border-width: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#gallery .clearfix:before,
#gallery .clearfix:after,
#gallery .thumbnails:before,
#gallery .thumbnails:after
{
   display: table;
   content: " ";
}
#gallery .clearfix:after,
#gallery .thumbnails:after
{
   clear: both;
}
#gallery .visible-col4
{
   display: block;
}
#wb_galleryHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#galleryHeading1
{
   color: #888888;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_galleryHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 20px 0;
   text-align: center;
}
#galleryHeading2
{
   color: #888888;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_JavaScript2
{
   margin: 25px 0 25px 0 ;
}
#gallery a
{
    text-decoration: none;
}
#gallery a:hover::before
{
    background: rgba(0,0,0,.7);
    border-radius: 50%;
    color: #FFFFFF;
	content: "+";
	font-family: Arial;
	font-size: 32px;
	font-weight: 100;
	height: 50px;
	left: 50%;
	line-height: 50px;
	margin-left: -25px;
	position: absolute;
	text-decoration: none;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 50px;
	z-index: 1;
}
#gallery a:hover img
{
	opacity: 0.6;
}
